@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="/Home/HangfireTestPost" method="post">
    <button type="submit" class="btn btn-danger">Submit</button>
</form>